@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main"
    "footer footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3em;
    padding: 0.5em;
}

header h1{
    color: yellow;
    animation: rbow 1s linear  infinite forwards alternate;
    font-size: 2.5em;
    font-style: italic;
}

@keyframes rbow{
    0%{
        color: yellow;
    }
    25%{
        color: green
    }
    50%{
        color: blue;
    }
    75%{
        color:red;
    }
    100%{
        transform: scale(1.2);
    }
}

menu{
    width: 25%;
    height: 100%;
    background-color: #f1f1f1;
    padding: 3em;
    grid-area: menu;
    display: grid;
    justify-items: center;
    grid-template-rows: 3;
    gap: 1em;
}

menu a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
}

menu img{
    width: 50%;
    animation: quake 3s linear  infinite forwards;
}

@keyframes quake{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(1em);
    }
    50%{
        transform:translateX(0);
    }
    75%{transform:translateX(1em);}
}


main{
    grid-area: main;
}

footer{
    grid-area: footer;
}